MONGO_URI=mongodb+srv://nadeeshashalom1_db_user:nHRWBLuP6Z3eg0HS@wmt-project.km5z3jh.mongodb.net/hospital_management?retryWrites=true&w=majority

PORT=5000
JWT_SECRET=dev_jwt_secret_change_me
BASE_URL=http://192.168.1.5:5000/api
